.topnav {
    overflow: hidden;
    background-color: #333;

    a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    a.active {
        background-color: #04AA6D;
        color: white;
    }
}

.nav-header {
    padding-bottom: 0.5em;

    .navbar {
        padding-bottom: 0 !important;
    }

    .bg-header {
        background-color: #20232a;
    }

    .navbar-brand {
        color: #61dafb !important;

        img {
            animation: App-logo-spin infinite 20s linear;
        }
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}


.navbar-nav {

    a,
    .nav-link {
        color: white !important;

        &:hover {
            color: #61dafb !important;
        }
    }

    .dropdown-menu {
        background-color: white; // tùy bạn, nếu muốn

        .dropdown-item {
            color: black !important;

            &:hover {
                color: #61dafb !important;
            }
        }
    }

    .nav-link {
        &.active {
            color: #61dafb !important;
            border-bottom: 2px solid;
        }
    }

}